<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard </title>
</head>
<body>
    <h1>Totais</h1>
    <table>
        <tr>
            <th>Description</th>
            <th>valor</th>
        </tr>
        <tr>
            <td>Total de Entradas</td>
            <td>{{total_entradas}}</td>
        </tr>
        <tr>
            <td>Total de saidas</td>
            <td>{{total_saidas}}</td>
        </tr>
        <tr>
            <td>Em Caixa</td>
            <td>{{diferenca}}</td>
        </tr>
    </table>
    

</body>
</html>